{% extends "base.html" %}
{% block container %}
{% block search %}

<!-- <div class="row-fluid">
<br>
<br>	
	<div class="span12">

		<form class="form-inline"  id="form-submit" align="center">

			<input class="span4" type="text" placeholder="请输入饮食词汇" id = "select_word" name="word">
			<button id = "food_search"  class="btn btn-primary"><i class="icon-search"></i>搜索</button> 
		</form>
	</div>
</div> -->


{% endblock %}

{% block baike %}
<div class="row-fluid">

	<div class="span12">
		<h4><span id = "word_text"></span></h4>
		<h4><span id = "province_text"></span></h4>
		<h4><span id = "month_text"></span></h4>
		<h4><span id = "hour_text"></span></h4>
		

	</div>
</div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab3" data-toggle="tab" name = "mainMap3">省份统计分布图</a></li>
		<li><a href="#tab1" data-toggle="tab" name = "mainMap1">月统计分布图</a></li>
		<li><a href="#tab2" data-toggle="tab" name = "mainMap2">小时统计分布图</a></li>
		
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="tab1">
			<div class = "main" id="mainMap1" style="height: 500px; cursor: default;"></div>
		</div>
		<div class="tab-pane" id="tab2">
			<div class = "main" id="mainMap2" style="height: 500px; cursor: default;"></div>
		</div>
		<div class="tab-pane active" id="tab3">
			<div class = "main" id="mainMap3" style="height: 500px; cursor: default;"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block other_container %}
{% endblock %}
{% endblock %}


{% block js %}

<script type="text/javascript">



// $('[id^="tab"]').on('shown', function(e){
// 	alert("hi");
//     // require('echarts').init(sentimentPieChart[$(this).attr('name')]).setOption(sentimentPieOption[$(this).attr('name')], true);

//     myChart.init($(this).attr('id'));
// });

function get_url_param(name)
{
	var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
	var url =  decodeURI(window.location.search);

	var r = url.substr(1).match(reg);

	if (r!=null) return unescape(r[2]); return ""; 
}
$(document).ready(function(){
	word = get_url_param('word');
	if (word != null)
	{

		$("#select_word").val(decodeURI(word) ); 
	}
});

</script>
<script type="text/javascript">
function send_ajax(kind) {
	return {
		url:'/analyse/' + kind + "?word=" + get_url_param("word"),
		// url: '/search?' + param,
		method: 'get',
		cache: false,  		
		success: function(msg) {
			var list = JSON.parse(msg);
			var result = list["list"];
			var top = list["top"];
			var text = "";


			if (kind == "month")
			{
				
				for (x in top)
				{
					text += top[x][0] + "月 ";
				}
				if (text == "")
				{
					text = "无";
				}
				$("#month_text").text("集中月份:" + text);
				month_list = result;
				if (currentChartName == 'mainMap1')
				{
					currentMyChart.hideLoading();
					set_month(month_list);
				}
			}
			else if (kind == "hour")
			{
				
				var dict = {"morning":"上午","noon":"中午","afternoon":"下午","evening":"晚上"}

				for (x in top)
				{
					text += dict[top[x][0]] + " ";
				}
				if (text == "")
				{
					text = "无";
				}
				$("#hour_text").text("高峰时段:" + text);
				hour_list = result;
				if (currentChartName == 'mainMap2')
				{
					currentMyChart.hideLoading();
					set_hour(hour_list);
				}
			}
			else if (kind == "province")
			{

				for (x in top)
				{
					text += top[x][0];
				}
				if (text == "")
				{
					text = "无";
				}
				$("#province_text").text("主要分布省份:" + text);
				province_list = result;
				if (currentChartName == 'mainMap3')
				{
					currentMyChart.hideLoading();
					set_province(province_list);
				}
			}
			console.log(msg);
		},
		error: function(msg) {
			console.log(msg);
		}
	};
} 
</script>

<script type="text/javascript">

var myChart;
var month_list;
var hour_list;
var province_list;
var currentMyChart;
var currentChartName;
function set_month(list)
{
	word = get_url_param("word")
	console.log("set_month");
	currentMyChart.setOption({
		title : {
			text: '月份统计分布图:' + word,
			subtext:""
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			data:['热度']
		},
		toolbox: {
			show : true,
			feature : {
				mark : {show: true},
				dataView : {show: true, readOnly: false},
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
		{
			type : 'category',
			data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
		}
		],
		yAxis : [
		{
			type : 'value',
			splitArea : {show : true}
		}
		],
		series : [
		{
			name:'热度',
			type:'bar',
			data:list

		}

		]
	});

}

function set_hour(list)
{
	word = get_url_param("word")
	console.log("set_hour");
	currentMyChart.setOption({
		title : {
			text: '小时统计分布图:'+ word,
			subtext: ""
		},
		tooltip : {
			trigger: 'axis'
		},
		legend: {
			data:['热度']
		},
		toolbox: {
			show : true,
			feature : {
				mark : {show: true},
				dataView : {show: true, readOnly: false},
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
		{
			type : 'category',
			data : ['0点','1点','2点','3点','4点','5点','6点','7点','8点','9点','10点','11点','12点','13点','14点','15点','16点','17点','18点','19点','20点','21点','22点','23点']
		}
		],
		yAxis : [
		{
			type : 'value',
			splitArea : {show : true}
		}
		],
		series : [
		{
			name:'热度',
			type:'line',
			data:list

		}

		]
	});

}

function set_province(list)
{
	word = get_url_param("word")
	console.log("set_province");
	currentMyChart.setOption({
		title : {
			text: '省份统计分布图:' + word,
			subtext: "",
			x:'center'
		},
		tooltip : {
			trigger: 'item'
		},
		legend: {
			orient: 'vertical',
			x:'left',
			// data:list['list']
		},
		dataRange: {
			min: list['min'],
			max: list['max'],
		    text:['高','低'],           // 文本，默认为数值文本
		    calculable : true
		},
		toolbox: {
			show : true,
			orient : 'vertical',
			x: 'right',
			y: 'center',
			feature : {
				mark : {show: true},
				dataView : {show: true, readOnly: false},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		series : [
		{
			name: '热度',
			type: 'map',
			mapType: 'china',
			itemStyle:{
				normal:{label:{show:true,textStyle: {
					color: 'black' 
				}},
				// areaStyle:{color:'#0099CC'}
			},
			emphasis:{label:{show:true}},
		// textStyle: {
		//     color: 'blue'          // 图例文字颜色
		// }
	},
	data:list['list']
}

]

});

}
</script>
<script type="text/javascript">
$("#word_text").text("当前检索词："+get_url_param("word"));
require.config({
	paths:{ 
		echarts:'/static/js/echarts',
		'echarts/chart/bar' : '/static/js/echarts-map',
		'echarts/chart/line': '/static/js/echarts-map',
		'echarts/chart/map' : '/static/js/echarts-map'
	}
});

require(
	[
	'echarts',
	'echarts/chart/bar',
	'echarts/chart/line',
	'echarts/chart/map'
	],
	function(ec) {

        // --- 地图 ---
        myChart = ec;
        currentChartName = 'mainMap3';
        currentMyChart = ec.init(document.getElementById('mainMap3'));
        currentMyChart.showLoading({
        	text : "数据正在读取中..."
        });		
        // myChart2 = ec.init(document.getElementById('mainMap2'));
        // myChart3 = ec.init(document.getElementById('mainMap3'));
        $.ajax(send_ajax('province'));
        $.ajax(send_ajax('month'));
        $.ajax(send_ajax('hour'));
        
    }
    );

$('a[data-toggle="tab"]').on('shown', function(e) {
	currentChartName = e.currentTarget.name;
	currentMyChart = myChart.init(document.getElementById(e.currentTarget.name));	
	if (e.currentTarget.name == "mainMap1")
	{
		if (month_list == null)
		{
			currentMyChart.showLoading({
				text : "数据正在读取中..."
			});			             

		}
		else
		{			
			currentMyChart.hideLoading();
			set_month(month_list);
		}
	}
	else if (e.currentTarget.name == "mainMap2")
	{
		if (hour_list == null)
		{
			currentMyChart.showLoading({
				text : "数据正在读取中..."
			});			             

		}
		else
		{			
			currentMyChart.hideLoading();
			set_hour(hour_list);
		}
		

	}

	else if (e.currentTarget.name == "mainMap3")
	{
		if (province_list == null)
		{
			currentMyChart.showLoading({
				text : "数据正在读取中..."
			});			             

		}
		else
		{			
			currentMyChart.hideLoading();
			set_province(province_list);
		}

	}

})
</script>
{% block baike_other_js %}
{% endblock %}

{% endblock %}