
</div>
<div class="container-fluid clearfix" style="background: #1b1b1b; padding: 10px 0;">

	<div class="six columns text-center">
		<div class="copyright">&copy;Copyright 2014 by <span><a href="http://ir.hit.edu.cn">HIT-SCIR</a></span>. All Rights Reserved.    </div>
	</div>

	<div class="eight columns text-center">
		
		
		<div class="author-info">
			Developed by <a href="http://ir.hit.edu.cn/teams/la.html">LA-TEAM</a> of <span><a href="http://ir.hit.edu.cn">HIT-SCIR</a></span>.
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000346295'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/z_stat.php%3Fid%3D1000346295' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>
	
	</div>



</body>
</html>

