<head>

<!-- Basic Page Needs
	================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信公众号RSS生成器</title>

<!-- Mobile Specific
	================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

<!-- JS
	================================================== -->
<script type='text/javascript' src="/static/js/jquery-1.11.1.min.js"></script>

<!-- // <script type="text/javascript" src="/static/js/sexylightbox.v2.3.jquery.min.js"></script>
-->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>

<style>
	.container
	{
		margin-top: 1.5cm;
	}
	</style>

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
	<div class="container-fluid">

		<div class="nav-collapse collapse">

			<ul class="nav">
				<li>
					<a class="brand" href="/">首页</a>
				</li>

				<li>
					<a href="http://www.8wss.com"> <i class="icon-home icon-white"></i>
						首页
					</a>
				</li>

			</ul>

		</div>
		<!--/.nav-collapse -->
	</div>
</div>

</div>

</head>