{% extends "base.html" %}




{% block container %}

<div class="row">
	<div class="span12">
		

		<form class="form-inline"  id="form-submit" align="center">

			<label>类别</label>

			<select  class = "span2" id="kind" name="kind"> 
				<option selected="selected" value="all">全部</option>
				<option value="fruit">水果</option>
				<option value="food">小吃</option> 
				<option value="wine">酒</option> 
				<option value="drink">饮品</option> 
				<option value="tea">茶</option> 
			</select>


			<label >省份</label>
			<select  class = "span2" id="select_prov" name="province"> 
				<option value="">全国范围</option>
				<option value="北京">北京</option>
				<option value="浙江">浙江</option>
				<option value="天津">天津</option>
				<option value="安徽">安徽</option>
				<option value="上海">上海</option>
				<option value="福建">福建</option> 
				<option value="重庆">重庆</option>
				<option value="江西">江西</option>
				<option value="山东">山东</option>
				<option value="河南">河南</option>
				<option value="湖北">湖北</option>
				<option value="湖南">湖南</option>
				<option value="广东">广东</option>
				<option value="海南">海南</option>
				<option value="山西">山西</option>
				<option value="青海">青海</option>
				<option value="江苏">江苏</option>
				<option value="辽宁">辽宁</option>
				<option value="吉林">吉林</option>
				<option value="台湾">台湾</option>
				<option value="河北">河北</option>
				<option value="贵州">贵州</option>
				<option value="四川">四川</option>
				<option value="云南">云南</option>
				<option value="陕西">陕西</option>
				<option value="甘肃">甘肃</option>
				<option value="黑龙江">黑龙江</option>
				<option value="香港">香港</option>
				<option value="澳门">澳门</option>
				<option value="广西">广西</option>
				<option value="宁夏">宁夏</option>
				<option value="新疆">新疆</option>
				<option value="内蒙古">内蒙古</option>
				<option value="西藏">西藏</option>
			</select>


			<label>性别</label>

			<select  class = "span2" id="gender" name="sex"> 
				<option selected="selected" value="">不限性别</option>
				<option value="man">男</option>
				<option value="woman">女</option> 
			</select>
<!-- 			<label >月份</label>
			<select  class = "span2" id="select_prov" name="month"> 
				<option value="">全部</option>
				<option value="1">一月</option>
				<option value="2">二月</option>
				<option value="3">三月</option>
				<option value="4">四月</option>
				<option value="5">五月</option>
				<option value="6">六月</option> 
				<option value="7">七月</option>
				<option value="8">八月</option>
				<option value="9">九月</option>
				<option value="10">十月</option>
				<option value="11">十一月</option>
				<option value="12">十二月</option>
			
			</select> -->
			<label>时间</label>
			<select class = "span2" id="time" name="time">
				<option selected="selected" value="">不限时间</option>
				<option value="morning">早上/上午</option>
				<option value="noon">中午</option> 
				<option value="afternoon">下午</option>
				<option value="evening">晚上</option> 
			</select>

			<button id = "food_search" class="btn btn-primary"><i class="icon-search" ></i>查询</button> 
		</form>
	</div>
</div>



<script src="/static/js/wordcloud2.js"></script>
<div class="row">

	<div class="span6">

		<div class = "main" id="mainMap" style="height: 500px; cursor: default;"></div>
	</div>

	<div class="span6">
		<canvas style= "cursor:pointer;" id="myCanvas" width="570" height="447">
			Your user agent does not support the HTML5 Canvas element.
		</canvas>
		<div align="center">
			<h4><span style="color:blue">点击上面的词语可查看更详细的统计信息</span></h4>
		</div>


<!-- 		<div class="span12" id="canvas-container">
			<canvas style= "cursor:pointer;"id="myCanvas" class="canvas" width="1170" height="760"></canvas>

		</div> -->
		<div class="row">
			<div class="span6">
				<img src="/static/images/intro.png" width="450" height="50" />
			</div>
		</div>
	</div>



	<div class="row">
		<div class="span12">

			<h4>使用介绍</h4>

			共分34个省、直辖市以及特别行政区。选好选项后，在地图上点击相应地区，可查看该地区关键词，点击"不限省份查询"则查看不限省份条件下的结果。<br>
			词云中，大小表示特色程度即相关程度，颜色表示频率大小。<br>
			如果对我们进行饮食习惯分析的方法感兴趣，请查看<a href="http://www.ltp-cloud.com/blog/2014-03-24-analysis-weibo-user-diet-using-ltpcloud-api/"><u>语言云博客</u></a>。

			<h4 class="page_headline">饮食地图</h4>

			<p>中文名：饮食地图		    </p>
			<p>英文名：Eating and Drinking Map</p>
			<p> 出品人：<a href="http://ir.hit.edu.cn/~liuting/"><u>刘挺</u></a>				  </p>
			<p>导演：<a href="http://ir.hit.edu.cn/~car/"><u>车万翔</u></a>				  </p>
			<p>研发：<u><a href="http://ir.hit.edu.cn/~bren/">任彬</a></u>、<u><a href="http://ir.hit.edu.cn/~zwang/">王哲</a></u>				  </p>
			<p>出品公司：<a href="http://ir.hit.edu.cn/teams/la.html"><u>LA-TEAM</u></a> of <a href="http://ir.hit.edu.cn"><u>HIT-SCIR</u></a> </p>
		</div>
	</div>

	{% endblock %}




	{% include 'footer.html' %}



	{% block js %}

	{% block wordcloud_js %}

	<script type="text/javascript">
	// var $canvasContainer = $('#canvas-container');
	// var $box = $('<div id="box" hidden />');
	// $canvasContainer.append($box);
	// window.drawBox = function drawBox(item, dimension) {
	// 	// alert($dppx.val());
	// 	console.log(dimension.x)
	// 	console.log(dimension.y)
	// 	if (!dimension) {
	// 		$box.prop('hidden', true);

	// 		return;
	// 	}

	// 	var dppx = 1;
	// 	var $box = $('<div id="box" hidden />');
	// 	$box.prop('hidden', false);
	// 	$box.css({
	// 		left: dimension.x / dppx + 'px',
	// 		top: dimension.y / dppx + 'px',
	// 		width: dimension.w / dppx + 'px',
	// 		height: dimension.h / dppx + 'px'
	// 	});
	// };
	function word_cloud(msg)
	{
		var obj = JSON.parse(msg);
		mylist = obj["weight"];
		mycolor = obj["color"];
		
		WordCloud(document.getElementById('myCanvas'), 
			{ list: mylist,
				gridSize:5,
				weightFactor: 2,
				fontFamily: 'Average, Times, serif',
				color: function(word){return mycolor[word];},
				rotateRatio: 0,
				// hover: window.drawBox,
				click: function(item) {
					var word = item[0];
					// alert(word);
					var param2 = $('#form-submit').serialize();
					param2 += "&word=" + word;
					window.open('./baike?' + param2);
				// window.location.href='./test?' + param2;
			},  }
			);
	}
	</script>
	{% endblock %}


	<script type="text/javascript">
	function init_query_pram(param) {
		return {
			url: '/search?' + param,
			method: 'get',
			cache: false,  		
			success: function(msg) {
				word_cloud(msg);
				$('#food_search').removeAttr("disabled");
				console.log(msg);
			},
			error: function(msg) {
				$('#food_search').removeAttr("disabled");
				console.log(msg);
			}
		};
	} 
	</script>




	<script type="text/javascript">
	require.config({
		paths:{ 
			echarts:'/static/js/echarts',
			'echarts/chart/bar' : '/static/js/echarts-map',
			'echarts/chart/line': '/static/js/echarts-map',
			'echarts/chart/map' : '/static/js/echarts-map'
		}
	});

	require(
		[
		'echarts',
		'echarts/chart/bar',
		'echarts/chart/line',
		'echarts/chart/map'
		],
		function(ec) {

        // --- 地图 ---
        var myChart2 = ec.init(document.getElementById('mainMap'));


        myChart2.setOption({
        	tooltip : {
        		trigger: 'item',
        		formatter: '{b}'
        	},

        	series : [
        	{
        		name: '中国',
        		type: 'map',
        		mapType: 'china',
        		selectedMode : 'single',
        		itemStyle:{
        			normal:{label:{show:true,textStyle: {
        				color: 'black' 
        			}},
        			areaStyle:{color:'#0099CC'}
        		},
        		emphasis:{label:{show:true}},
        			// textStyle: {
        			//     color: 'blue'          // 图例文字颜色
        			// }
        		},
        		data:[
        		{name:'北京',selected:true}
        		]
        	}
        	]
        });

        var ecConfig = require('echarts/config');
        myChart2.on(ecConfig.EVENT.MAP_SELECTED, function(param){
        	var selected = param.selected;
        	var str = '当前选择： ';
        	for (var p in selected) {
        		if (selected[p] && p != "南海诸岛") {
        			var province  = p
        			$("#select_prov").val(province); 
        			var param = $('#form-submit').serialize();


        			$('#food_search').attr({"disabled":"disabled"});
        			$.ajax(init_query_pram(param));

        			return false;
        		}
        	}

        })


    }
    );
</script>

<script type="text/javascript">
$(document).ready(function()
{
	$('#food_search').bind('click', function() {
		var param = $('#form-submit').serialize();
		
		$('#food_search').attr({"disabled":"disabled"});
		
		
		$.ajax(init_query_pram(param));

		return false;
	});


	$("#select_prov").val("北京"); 
	$("#food_search").trigger("click")

}
);

</script>


{% endblock %}